.pokemon-list-item {
  display: flex;
  flex-direction: row;
  width: 100%;

  .pokemon-icon {
    flex: 0 1 auto;
    min-width: 75px;
    max-width: 75px;
  }

  .pokemon-name {
    cursor: pointer;
    flex: 0 1 auto;
    margin-left: 10px;
    text-transform: capitalize;
  }

}
