$red-500: #f44336;
$blue-gray-50: #eceff1;
$blue-gray-100: #cfd8dc;
$blue-gray-900: #263238;

$white-color: #fff;

$default-page-margin: 8px;
$app-toolbar-z-index: 100;
$app-toolbar-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24), 0 0 1px 0 rgba(0, 0, 0, .12);
$app-toolbar-height: 64px;
$app-toolbar-background-color: #dc0030;
