@import 'variables';

.app-component {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  .side-menu-list {
    .side-menu-list-item {
      width: 300px;

      .item-label {
        margin-left: 30px;
      }
    }
  }

  .app-toolbar {
    background-color: $app-toolbar-background-color;
    box-shadow: $app-toolbar-shadow;
    color: $white-color;
    position: sticky;
    top: 0;
    z-index: $app-toolbar-z-index;

    .toolbar-title {
      font-weight: 400;
      margin-left: 20px;
    }
  }

  .app-content-container {
    height: 100%;
  }

  .intro-card {
    margin: $default-page-margin;
    text-align: center;
  }

  .angular-logo {
    width: 300px;
  }

  .pokemon-list-container {
    background-color: $blue-gray-100;
    border-bottom: 1px solid $blue-gray-900;
    margin: 0 auto;
    max-height: 300px;
    max-width: 50%;
    overflow: auto;
  }
}
