<div  [class]="(theme$ | async)">
  <lib-page-layout>
    <div sideBar>
      <mat-nav-list class="main-nav">
        <div class="section-nav">
          <a mat-list-item routerLink="./" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            Home
          </a>
          <a mat-list-item routerLink="posts" routerLinkActive="active-link">
            Posts
          </a>
        </div>
      </mat-nav-list>
    </div>
    <div [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
      https://jsonplaceholder.typicode.com/
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </lib-page-layout>
</div>
